
/* * {outline: 1px solid red !important;} */



/*
Block elements will have padding and border 
included in the element's total width and height
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*
Make HTML 5 elements display block-level for consistent styling
*/
header,
section,
footer,
aside,
nav,
main,
article,
figure,
figcaption {
  display: block;
}

/*
Prevent images and other objects from overflowing parent
*/
img,
embed,
object,
video {
  max-width: 100%;
}

body {
	margin: 0;
	padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contain-960 {
  max-width: 960px;  /* set to 960px or 1200px */
  margin: 0 auto;
}

a {
	text-decoration: none;
}




header {
	height: 100px;
	background-color: rgb(209, 90, 90);
	position: static;
	width: 100vw;
}

.header-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

div.logo-container {
	flex-basis: 20%;
	font-size: 3rem;
	font-family: 'Fredoka One', cursive;

	color: rgb(33, 68, 83);
}

ul.nav-container {
	flex-basis: 70%;

	display: flex;
	justify-content: flex-end;

  list-style-type: none;
  margin: 0;
  padding: 0;	
}

li.nav-btn {
	padding-left: 3rem;
	font-size: 1.125rem;
	font-weight: 700;
}

span.nav-icon {
	display: none;
}

span.nav-title {
	color: black;
}


.page {
	height: 1000px;
	background-color: rgb(20, 46, 73);
}


ul.events {
  list-style-type: none;
  margin: 0;
	padding: 0;	
	text-align: left;
	
}

li.event-details {
	margin: 1rem;
	width: 40%;
}








/* ---------- MOBILE  ---------- */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

	header {
		position: fixed;
		bottom: 0;
		-webkit-box-shadow: -6px 17px 19px 16px rgba(0,0,0,0.75);
		-moz-box-shadow: -6px 17px 19px 16px rgba(0,0,0,0.75);
		box-shadow: -6px 17px 19px 16px rgba(0,0,0,0.75);
	}

	/* Hide logo in mobile header */
	.logo-container {
		display: none;
	}

	ul.nav-container {
		flex-basis: 100%;
		justify-content: space-evenly;
	}

	li.nav-btn {
		padding-left: 0;
		font-size: .7rem;
		font-weight: 700;
	}

	span.nav-icon {
		font-size: 2rem;
		display: inline;
	}

	span.nav-title {
		color: black;
		display: none;
	}




}